version: '3'
services:
  netdata:
    image: netdata/netdata
    hostname: netdata.spring4j.com # set to fqdn of host
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - ./netdata/proc:/host/proc:ro
      - ./netdata/sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
